main {
	background-color: #f9f4ef;
	padding: 5vh 3vw;
	display: flex;
	flex-direction: column;
	gap: 5vh;
}

.bouton {
	font-size: 1.5vw;
	display: flex;
	gap: 0.5vw;
	/* padding: 2vh 2vw; */
	background-color: #fffffe;
	border-radius: 25vw;
	border: none;
	width: max-content;
}

.bouton #charly_btn {
	padding: 2vh 3vw;
	border-radius: 25vw;
	border: none;
	font-family: "Marine Sikona", sans-serif;
	font-size: 1.5vw;
	background-color: #8c7851;
	color: #fffffe;
	cursor: pointer;
}

.bouton #anges_btn {
	padding: 2vh 3vw;
	border-radius: 25vw;
	border: none;
	font-family: "Marine Sikona", sans-serif;
	font-size: 1.5vw;
	background-color: transparent;
	color: #8c7851;
	cursor: pointer;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5vh;
	background-color: #fffffe;
	padding: 5vh 5vw;
	border-radius: 2vw;
	position: relative;
}
.container h1 {
	color: #716040;
}

#charly,
#anges {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5vh;
}

article {
	background-color: #f9f4ef;
	padding: 1vh 1vw 2.5vh 1vw;
	/* border-radius: 2vw; */
	width: 100%;
	font-family: "Inknut Antiqua";
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

article h2 {
	font-size: 3vw;
}

article .experience {
	font-size: 1.5vw;
	margin: 0 3vw;
	background-color: #fffffe;
	padding: 2vh 2vw;
	border-radius: 1vw;
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

article .experience p {
	margin: 0;
	font-size: 1.5vw;
	font-weight: lighter;
}

article .competences {
	font-size: 1.5vw;
}

article .competences .competences_list {
	font-size: 1.5vw;
	margin: 0 3vw;
	padding: 2vh 4vw;
	border-radius: 1vw;
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

article .competences .competences_list li {
	font-size: 2.5vw;
	font-weight: lighter;
	padding: 0.5vh 1vw;
}

article .competences .competences_list li .langages {
	font-size: 1.5vw;
	padding: 0.5vh 5vw;
}

article .competences .competences_list li .certifications {
	font-size: 1.5vw;
	padding: 0.5vh 5vw;
}
