/* style general de US appliqueÌ sur toutes les pages */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Potta One", sans-serif;
	user-select: none;
	-webkit-user-drag: none;
	width: 100%;
	background-color: #f9f4ef;
}

img {
	user-select: none;
	-webkit-user-drag: none;
}
